<ion-header>
  <ion-toolbar>
    <ion-toolbar color="primary">
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/profile"></ion-back-button>
      </ion-buttons>
      <ion-title>editprofileIMG</ion-title>
    </ion-toolbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid style="text-align: center;">
    <ion-row>
      <ion-col>
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/12/User_icon_2.svg/768px-User_icon_2.svg.png"
          width="100px" height="100px" routerLink="/profile" routerDirection="backward">
      </ion-col>
      <ion-col>
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/12/User_icon_2.svg/768px-User_icon_2.svg.png"
          width="100px" height="100px" routerLink="/profile" routerDirection="backward">
      </ion-col>
      <ion-col>
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/12/User_icon_2.svg/768px-User_icon_2.svg.png"
          width="100px" height="100px" routerLink="/profile" routerDirection="backward">
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/12/User_icon_2.svg/768px-User_icon_2.svg.png"
          width="100px" height="100px" routerLink="/profile" routerDirection="backward">
      </ion-col>
      <ion-col>
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/12/User_icon_2.svg/768px-User_icon_2.svg.png"
          width="100px" height="100px" routerLink="/profile" routerDirection="backward">
      </ion-col>
      <ion-col>
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/12/User_icon_2.svg/768px-User_icon_2.svg.png"
          width="100px" height="100px" routerLink="/profile" routerDirection="backward">
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/12/User_icon_2.svg/768px-User_icon_2.svg.png"
          width="100px" height="100px" routerLink="/profile" routerDirection="backward">
      </ion-col>
      <ion-col>
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/12/User_icon_2.svg/768px-User_icon_2.svg.png"
          width="100px" height="100px" routerLink="/profile" routerDirection="backward">
      </ion-col>
      <ion-col>
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/12/User_icon_2.svg/768px-User_icon_2.svg.png"
          width="100px" height="100px" routerLink="/profile" routerDirection="backward">
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>