<ion-header>
  <ion-toolbar>
    <ion-toolbar color="primary">
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/profile"></ion-back-button>
      </ion-buttons>
      <ion-title>EditImage</ion-title>
    </ion-toolbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col *ngFor="let item of images" size="4">
        <ion-avatar>
          <img [src]="item" width="100px" height="100px" routerLink="/profile" routerDirection="backward"
            (click)="ChangeImg(item)">
        </ion-avatar>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>