.dateTime {
  padding-left: 2%;
}
.wrapper {
  display: grid;
  border-left: 1px solid black;
}

.centerText {
  text-align: center;
}
.rightText {
  text-align: right;
}
.padding {
  font-size: 35px;
  padding-right: 15px;
}
.highlight {
  color: red;
}
.icon {
  font-size: 30px; //Preferred size here
}
.thumbnailSize {
  width: 100%;
  height: 100px;
}
.Header{
    padding-left: 2%;
}
.textR{
    text-align: right;
}
