<ion-header>
  <ion-toolbar>
    <ion-toolbar color="primary">
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/home-eba"></ion-back-button>
      </ion-buttons>
      <ion-title>profile</ion-title>
    </ion-toolbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div style="text-align: center;">
    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/12/User_icon_2.svg/768px-User_icon_2.svg.png"
      width="100px" height="100px" routerLink="/editprofile-img" routerDirection="forward">
    <h1>UserName</h1>
    <ion-button routerLink="/editprofile-name" routerDirection="forward">Edit Name</ion-button>
  </div>
  <ion-item-divider></ion-item-divider>
  <div class="ion-padding">
    <h3>Achievement</h3>
  </div>
  <ion-item-divider></ion-item-divider>
  <div class="ion-padding">
    <h3>Rating</h3>
    <h5>55555</h5>
  </div>
  <ion-item-divider></ion-item-divider>

  <div class="ion-padding">
    <h3>Contact</h3>
    <ion-list>
      <ion-item>
        <ion-label>E-mail</ion-label>
      </ion-item>
      <ion-item>
        <ion-label> Demo@gmail.com</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Tel.</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>0812345679</ion-label>
      </ion-item>
    </ion-list>
  </div>
  
  <ion-item-divider></ion-item-divider>

  <div class="ion-padding">
    <h3>Setting</h3>
  </div>

</ion-content>