<ion-header>
  <ion-toolbar>
    <ion-toolbar color="primary">
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/home-eba"></ion-back-button>
      </ion-buttons>
      <ion-title>tournament</ion-title>
    </ion-toolbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-button expand="full">กำลัง Register</ion-button>
  <ion-button expand="full" routerLink="/matching" routerDirection="forward">กำลัง แข่ง</ion-button>
  <ion-button expand="full" routerLink="/resultendtournament" routerDirection="forward">จบการแข่งแล้ว</ion-button>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Awesome Subtitle</ion-card-subtitle>
      <ion-card-title>Awesome Title</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Awesome content
      <ion-grid size="auto">
        <ion-row>
          <ion-col>
            <div class="centerText">
              Match
            </div>
          </ion-col>
          <ion-col class="wrapper">
            <div class="centerText">
              Chat
            </div>
          </ion-col>
          <ion-col class="wrapper">
            <div class="centerText">
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>
  <h2 class="centerText">
    My Match
  </h2>
  <div class="highlight">datetime......</div>

  <ion-card>
    <ion-card-header>
      <ion-list>
        <ion-item>
          <ion-avatar slot="start">
            <img src="../../assets/icon/pngwing.com.png">
          </ion-avatar>
          <ion-label>
            <div class="align">
              <h2 class="ion-text-start">Team A</h2>
            </div>
            <p>Rating 5555</p>
          </ion-label>
        </ion-item>
      </ion-list>
      <ion-grid size="auto">
        <ion-row>
          <ion-col>
            <div>
              Result <b>Win</b> (2-1)
            </div>
          </ion-col>
          <ion-col class="wrapper">
            <div class="rightText">
              <ion-icon name="add-circle" class="padding"></ion-icon>
              <ion-icon name="add-circle" class="padding"></ion-icon>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-header>
    <ion-card-content>

    </ion-card-content>
  </ion-card>
</ion-content>