<ion-header>
  <ion-toolbar>
    <ion-toolbar color="primary">
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/home-eba"></ion-back-button>
      </ion-buttons>
      <ion-title>tournament</ion-title>
    </ion-toolbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-button expand="full">กำลัง Register</ion-button>
  <ion-button expand="full">กำลัง แข่ง</ion-button>
  <ion-button expand="full">จบการแข่งแล้ว</ion-button>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Awesome Subtitle</ion-card-subtitle>
      <ion-card-title>Awesome Title</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Awesome content
    </ion-card-content>
  </ion-card>

</ion-content>
