div {
  text-align: center;
}

.centerText {
  text-align: center;
}
.avatar {
  margin: auto;
}
.pad {
  padding-top: 20px;
}
.teamName {
  padding-top: 10px;
}
ion-select {
  max-width: 70% !important;
}
.thumbnailSize {
  padding-right: 20%;
  padding-left: 20%;
}
