<ion-header>
  <ion-toolbar>
    <ion-title>Game</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- <ion-item>
    <ion-label>Game.Post</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>Name :</ion-label>
    <ion-input placeholder="Name" [(ngModel)]="name"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>bannerUrl :</ion-label>
    <ion-input placeholder="bannerUrl" [(ngModel)]="bannerUrl"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>description :</ion-label>
    <ion-input placeholder="description" [(ngModel)]="description"></ion-input>
  </ion-item>
  <ion-button (click)="getAPIAllData(name,bannerUrl,description)" expand="full">GetAPI</ion-button>
  <ion-item>
    <ion-label>Game.Get</ion-label>
  </ion-item>
  <ion-button (click)="getAPIAllData()" expand="full">GetAPI</ion-button>
  <ion-item>
    <ion-label>Game.PostSupport</ion-label>
  </ion-item>
  <ion-button (click)="getAPIAllData()" expand="full">GetAPI</ion-button>
  <ion-item>
    <ion-label>Game.Get(Id)</ion-label>
  </ion-item>
  <ion-button (click)="getAPIAllData()" expand="full">GetAPI</ion-button>
  <ion-item>
    <ion-label>Game.Delete(Id)</ion-label>
  </ion-item>
  <ion-button (click)="getAPIAllData()" expand="full">GetAPI</ion-button> -->
</ion-content>