<ion-header translucent>
  <ion-toolbar>
    <ion-title>Profile</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismissModal()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content fullscreen>
  <div class="ion-text-center ">
    <img src="{{playerData.playerImg}}" width="100px" height="100px">
    <img src="https://image.freepik.com/free-vector/princess-crown-icon-illustration_118124-2722.jpg" width="20px"
      height="20px" *ngIf="playerData.leadder == true">

  </div>
  <ion-list>
    <ion-item>
      <ion-label>
        <h2>Eba User</h2>
        <p>{{playerData.name}}</p>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
        <h2>In Game Name</h2>
        <p>{{playerData.inGameNamr}}</p>
        <p *ngIf="playerData.inGameNamr == ''|| playerData.inGameNamr== null ">-</p>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
        <h2>Rating</h2>
        <p>{{playerData.rating}}</p>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
        <h2>Contact</h2>
        <p>{{playerData.email}}</p>
        <p *ngIf="playerData.email == ''|| playerData.email== null ">-</p>
        <p>{{playerData.tel}}</p>
        <p *ngIf="playerData.tel == ''|| playerData.tel== null ">-</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
<ion-toolbar>
  <ion-button expand="full " (click)="PasBand()"
    *ngIf="service.player.leadder == true && service.player.name == playerData.name">PasBand</ion-button>
  <ion-button expand="full " *ngIf="service.player.leadder == true && service.player.name != playerData.name">Kick
    Player</ion-button>
  <ion-button expand="full " *ngIf="service.player.leadder == false && service.player.name == playerData.name"
    (click)="LeaveTeam()">Leave
    Team</ion-button>
  <ion-button expand="full " (click)="dismissModal2()">View
    Main Profile
  </ion-button>
</ion-toolbar>