<ion-header>
  <ion-toolbar>
    <ion-toolbar color="primary">
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/home-eba"></ion-back-button>
      </ion-buttons>
      <ion-title>Matching</ion-title>
    </ion-toolbar>
  </ion-toolbar>
</ion-header>


<ion-content>

  <img src='./assets/thumbnail.png' class="thumbnailSize">
  <ion-card>

    <ion-card-header>

      <ion-list>
        <ion-item>
          <ion-avatar slot="start">
            <img src="../../assets/icon/pngwing.com.png">
          </ion-avatar>
          <ion-label>
            <div class="align">
            <h2 class="ion-text-start">Team Name</h2>
          </div>
            <p>Rating 8456</p>
          </ion-label>
        </ion-item>
      </ion-list>

    </ion-card-header>
    
    <ion-card-content>

      <ion-grid size="auto">
        <ion-row >
          <ion-col> 
            <div class="centerText">
              <ion-button (click)="onClick()" expand="block" fill="clear" shape="round">
                <ion-icon name="heart" ></ion-icon> Match
              </ion-button>
            </div>
          </ion-col>
          <ion-col class="wrapper">
            <div class="centerText">
              <ion-button (click)="onClick()" expand="block" fill="clear" shape="round">
                <ion-icon name="heart" ></ion-icon> Chat
              </ion-button>
            </div>
          </ion-col>
          <ion-col class="wrapper">
            <div class="centerText">
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>

    </ion-card-content>

  </ion-card>
  <h2 class="centerText">
    My Match
  </h2>
  <div class="highlight">datetime......</div>
  
  <ion-card>
    <ion-card-header>

      <ion-list>
        <ion-item>
          <ion-avatar slot="start">
            <img src="../../assets/icon/pngwing.com.png">
          </ion-avatar>
          <ion-label>
            <div class="align">
            <h2 class="ion-text-start">Team A</h2>
          </div>
            <p>Rating 5555</p>
          </ion-label>
        </ion-item>
      </ion-list>

      <ion-grid size="auto">
        <ion-row>
          <ion-col class="ion-align-self-center"> 
            <div>
              Result <b>Win</b> (2-1)
            </div>
          </ion-col>
          <ion-col class="wrapper">
            <div class="rightText">
              <ion-button (click)="onClick()" fill="clear" shape="round">
                <ion-icon slot="icon-only" name="person"></ion-icon>
              </ion-button>
              <ion-button (click)="onClick()" fill="clear" shape="round">
                <ion-icon slot="icon-only" name="people"></ion-icon>
              </ion-button>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>

    </ion-card-header>
    <ion-card-content>

    </ion-card-content>
  </ion-card>
  
  <ion-card>
    <ion-card-header>

      <ion-list>
        <ion-item>
          <ion-avatar slot="start">
            <img src="../../assets/icon/pngwing.com.png">
          </ion-avatar>
          <ion-label>
            <div class="align">
            <h2 class="ion-text-start">Team C</h2>
          </div>
            <p>Rating 12545</p>
          </ion-label>
        </ion-item>
      </ion-list>

      <ion-grid size="auto">
        <ion-row>
          <ion-col class="ion-align-self-center"> 
            <div>
              Result <b>Win</b> (2-1)
            </div>
          </ion-col>
          <ion-col class="wrapper">
            <div class="rightText">
              <ion-button (click)="onClick()" fill="clear" shape="round">
                <ion-icon slot="icon-only" name="person"></ion-icon>
              </ion-button>
              <ion-button (click)="onClick()" fill="clear" shape="round">
                <ion-icon slot="icon-only" name="people"></ion-icon>
              </ion-button>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>

    </ion-card-header>
    <ion-card-content>

    </ion-card-content>
  </ion-card>

</ion-content>
