<ion-header>
  <ion-toolbar>
    <ion-title>Team</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Create Team</ion-card-title>
    </ion-card-header>
    <ion-card-content>


      <ion-button>POST​/Create</ion-button>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Get Team</ion-card-title>
    </ion-card-header>
    <ion-card-content>


      <ion-button>Get/Get all team</ion-button>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Create</ion-card-title>
    </ion-card-header>
    <ion-card-content>


      <ion-button>POST​/Create</ion-button>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Create Invitation Team</ion-card-title>
    </ion-card-header>
    <ion-card-content>


      <ion-button>POST​/Create</ion-button>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Create Request Team</ion-card-title>
    </ion-card-header>
    <ion-card-content>


      <ion-button>POST​/Create</ion-button>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Update Team Joining</ion-card-title>
    </ion-card-header>
    <ion-card-content>


      <ion-button>PUT/Update</ion-button>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Get Invitation By Id</ion-card-title>
    </ion-card-header>
    <ion-card-content>


      <ion-button>GET/Get Invitation</ion-button>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Get Team By Id</ion-card-title>
    </ion-card-header>
    <ion-card-content>


      <ion-button>GET/GET Team</ion-button>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Delete Team</ion-card-title>
    </ion-card-header>
    <ion-card-content>


      <ion-button>DELETE/DELETE Team</ion-button>
    </ion-card-content>
  </ion-card>

</ion-content>