<ion-header>
  <ion-toolbar>
    <ion-toolbar color="primary">
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/resultendtournament"></ion-back-button>
      </ion-buttons>
      <ion-title>detailendtournament</ion-title>
    </ion-toolbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item class="ion-text-center">
    <ion-label>Standing (xxx)</ion-label>
  </ion-item>

  <ion-card *ngFor="let item of service.teamInfo; let i = index">
    <ion-card-content>
      <ion-grid>
        <ion-row >
          <ion-col size="1" class="ion-align-self-center">
            <ion-label>
              {{i+1}}
            </ion-label>
          </ion-col>
          <ion-col size="8">
            <ion-item lines="none">
              <img src="{{item.image}}" width="50px" height="50px">
              <ion-label>
                {{item.name}}
              </ion-label>
            </ion-item>
          </ion-col>
          <ion-col size="3" class="ion-align-self-center">
            <h3>Rating {{item.rating}}</h3>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>
</ion-content>