<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/dashboard"></ion-back-button>
    </ion-buttons>
    <ion-title>Add info</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- <ion-label>EBA User</ion-label> -->
  <h4>EBA User</h4>
  <ion-list>
    <ion-item lines="none">
      <ion-label>{{ player.name }}</ion-label>
    </ion-item>
    <ion-item lines="none">
      <ion-label>In Game Name</ion-label>
    </ion-item>
    <ion-item lines="none">
      <ion-input [(ngModel)]="player.inGameNamr"></ion-input>
    </ion-item>
    <ion-item lines="none">
      <ion-label>Role</ion-label>
    </ion-item>
    <ion-item lines="none">
      <ion-input [(ngModel)]="player.role"></ion-input>
    </ion-item>
  </ion-list>

  <h4>Contract</h4>
  <ion-list>
    <ion-item lines="none">
      <ion-label>e-mail</ion-label>
    </ion-item>
    <ion-item lines="none">
      <ion-input  [(ngModel)]="player.email"></ion-input>
    </ion-item>
    <ion-item lines="none">
      <ion-label>tel</ion-label>
    </ion-item>
    <ion-item lines="none">
      <ion-input [(ngModel)]="player.tel"></ion-input>
    </ion-item>
  </ion-list>
</ion-content>

<ion-footer>
  <ion-button expand="full" (click)="addInfo()" routerLink="/create-new-team">OK</ion-button>
</ion-footer>