<ion-header>
  <ion-toolbar>
    <ion-toolbar color="primary">
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/dashboard"></ion-back-button>
      </ion-buttons>
      <ion-title>CreateNewTeam</ion-title>
    </ion-toolbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div style="text-align: center;">

    <H3>Confirm your create</H3>
    <img src="../../assets/teamLogo.png">
  </div>
  <ion-item class="ion-text-center">
    <ion-label>{{ teamName }}</ion-label>
  </ion-item>

</ion-content>
<ion-footer>
  <ion-button expand="full">Confirm</ion-button>
</ion-footer>