<ion-header>
    <ion-toolbar color="primary">
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/dashboard"></ion-back-button>
      </ion-buttons>
      <ion-title>CreateNewTeam</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
  <div style="text-align: center;">

    <H3>Confirm your create</H3>
    <img src="{{ player.teamLogo }}">
  </div>
  <ion-item class="ion-text-center">
    <ion-label>{{ player.teamName }}</ion-label>
  </ion-item>

</ion-content>
<ion-footer>
  <ion-button expand="full" (click)="confirm()" routerLink="/mtuornament">Confirm</ion-button>
</ion-footer>