<ion-header>
  <ion-row>
    <ion-toolbar color="primary">
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/dashboard"></ion-back-button>
      </ion-buttons>
      <ion-title>MTuornament</ion-title>
      <ion-toggle slot="end" (click)="switchPlayer()"></ion-toggle>
    </ion-toolbar>
  </ion-row>
</ion-header>

<ion-content>
  <img src="../../assets/banner-responsive.png">
  <div *ngIf="player.tuornament == false">
    <ion-button expand="full" routerLink="{{ page }}">Create team</ion-button>
    <ion-button expand="full">Jion team</ion-button>
  </div>
</ion-content>