ion-modal {
    .modal-wrapper {
        height: 70%;
        width: 60%;
    }
}

div {
    padding-left: 5%;
  }
  
  .centerText {
    text-align: center;
  }
  .avatar {
    margin: auto;
  }
  .pad {
    padding-top: 20px;
  }
  .teamName {
    padding-top: 10px;
  }
  ion-select {
    max-width: 70% !important;
  }
  .thumbnailSize {
    padding-right: 20%;
    padding-left: 20%;
  }
.date{
  padding-top: 5%;
}  
.teamicon{
  padding: 5% 15% 15% 15%;
}