<ion-header>
  <ion-toolbar>
    <ion-title>Player</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-content>
      <ion-item>
        <ion-label>Name :</ion-label>
        <ion-input placeholder="Name" [(ngModel)]="playerReq.name"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>ReferenceId :</ion-label>
        <ion-input placeholder="referenceId" [(ngModel)]="playerReq.referenceId"></ion-input>
      </ion-item>
      <ion-button (click)="createPlayer()">Post/Player</ion-button>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-content>
      <ion-button (click)="getPlayer()">GET​/Player</ion-button>
      <ion-list *ngFor="let item of listPlayer">
        <img src="https://avataaars.io">
        <ion-item>brandId: {{ item.brandId }}</ion-item>
        <ion-item>createdDate: {{ item.createdDate }}</ion-item>
        <ion-item>memberOfGuildId: {{ item.memberOfGuildId }}</ion-item>
        <ion-item>name: {{ item.name }}</ion-item>
        <ion-item>refId: {{ item.refId }}</ion-item>
        <ion-item>suspendedDate: {{ item.suspendedDate }}</ion-item>
        <ion-item>_id: {{ item._id }}</ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-content>
      <ion-item>
        <ion-label>Player ID :</ion-label>
        <ion-input placeholder="Player ID" [(ngModel)]="ID"></ion-input>
      </ion-item>
      <ion-button (click)="getPlayerByID()">GET/Player</ion-button>
      <ion-list *ngIf="player">
        <img src="https://avataaars.io">
        <ion-item>brandId: {{ player.brandId }}</ion-item>
        <ion-item>createdDate: {{ player.createdDate }}</ion-item>
        <ion-item>memberOfGuildId: {{ player.memberOfGuildId }}</ion-item>
        <ion-item>name: {{ player.name }}</ion-item>
        <ion-item>refId: {{ player.refId }}</ion-item>
        <ion-item>suspendedDate: {{ player.suspendedDate }}</ion-item>
        <ion-item>_id: {{ player._id }}</ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-content>
      <ion-item>
        <ion-label>Player ID :</ion-label>
        <ion-input placeholder="Player ID" [(ngModel)]="DelID"></ion-input>
      </ion-item>
      <ion-button (click)="deletePlayerByID()">DEL/Player</ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>